.service {
    width: 100%;
    margin: 3rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
}

.service .left {
    text-align: center;
    margin: auto;
    padding: 1rem 4rem;
    max-width: 600px;
}

.service .left p {
    margin: 1.2rem 0;
}

.service .right {
    width: 100%;
}

.right .img-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
    align-items: center;
    text-align: center;
}

.right .img {
    max-width: 60%;
    border: 1px solid #333;
}

.right .top {
    grid-column: 1/span 5;
    width: 800px;
    height: 600px;
    grid-row: 1;
    padding-top: 30%;
    z-index: 5;
}

.right .bottom {
    width: 450px;
    height: 300px;
    grid-column: 4/ 9;
    grid-row: 1/2;
    z-index: 2;
}

@media screen and (max-width: 1140px) {
    .service {
        grid-template-columns: 1fr;
    }

    .service .img {
        max-width: 80%;
    }

}





